<!-- <mat-card>
  <mat-form-field class="example-full-width">
    <input matInput type=">text" />
  </mat-form-field>
  <mat-label></mat-label>
  <textarea
    matInput
    placeholder="Say something..."
    [(ngModel)]="enteredValue"
  ></textarea>

  <button mat-raised-button color="accent" (click)="onAddPost()">Save</button>
</mat-card> -->

<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddPost()">
    Save post
  </button>
</mat-card>
