<!-- <mat-card>
  <mat-form-field class="example-full-width">
    <input matInput type=">text" />
  </mat-form-field>
  <mat-label></mat-label>
  <textarea
    matInput
    placeholder="Say something..."
    [(ngModel)]="enteredValue"
  ></textarea>

  <button mat-raised-button color="accent" (click)="onAddPost()">Save</button>
</mat-card> -->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="title"
        type="text"
        ngModel
        required
        minlength="3"
        placeholder="Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        name="content"
        rows="4"
        ngModel
        required
        placeholder="Content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">
        Please enter post content.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save post</button>
  </form>
</mat-card>
