<mat-accordion multi="true" *ngIf="posts?.length">
  <mat-expansion-panel *ngFor="let post of posts">
    <!-- looping variable post(name I choose), posts(comes from PostList) -->
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
      <mat-panel-description> Posts list summary </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
  </mat-expansion-panel>
</mat-accordion>

<p class="mat-body-1" *ngIf="!posts?.length">No posts added yet!</p>
